.hamburger-icon {
    cursor: pointer;
    display: inline-block;
  }
  
  #Group\ 1 path {
    transition: all 0.5s ease;
  }
  
  /* Initial hamburger state */
  .hamburger-icon.open #line1 {
    transform: translateY(14px) rotate(45deg);
  }
  
  .hamburger-icon.open #line2 {
    opacity: 0;
  }
  
  .hamburger-icon.open #line3 {
    transform: translateY(-14px) rotate(-45deg);
  }