/* ContactUsSection.module.css */

.contactUsSection {
  background-color: var(--main-background-color);
  
}

.titleBox {
  grid-column: 1 / 5;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--heading-gap);
}

.introParagraph {
  color: var(--font-color-black);
  font-size: var(--body-font-size);
  text-align: center;
}

.contactUsTitle {
  color: var(--font-color-black);
}

.visitUsBox {
  grid-column: 1 / 5;
  grid-row: 2;
  display: flex;
  gap: var(--m-gap);
  flex-direction: column;
}

.visitShopTitle {
  color: var(--font-color-black);
  text-align: center;
}

.openingHoursContainer {
  display: flex;
  flex-direction: column;
  gap: var(--heading-gap);
}

.openingHoursTitle {
  color: var(--font-color-black);
}

/* Styles for the opening hours table */
.openingHoursTable {
  width: 100%;
  border-collapse: collapse;
}

.openingHoursTable th,
.openingHoursTable td {
  font-family: var(--body-font);
  font-weight: var(--font-weight-regular);
  border: 1px solid 9;
  padding: var(--s-gap);
  padding-left: 0;

}

.openingHoursTable th {
  font-weight: var(--font-weight-semi-bold);

}

.th {
  font-weight: var(--font-weight-regular);
}

.openingHoursTable th {
  color: var(--font-color-black);
  text-align: left;
}


.shopAddressContainer {
  display: flex;
  flex-direction: column;
  gap: var(--heading-gap);
}

.shopAddressTitle {
  color: var(--font-color-black);
}

.shopAddress p {
  color: var(--font-color-black);
  font-style: italic;
  font-weight: var(--font-weight-regular);
}

.getInTouchBox {
  grid-column: 1 / 5;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  gap: var(--m-gap);
}

.getInTouchTitle {
  color: var(--font-color-black);
  text-align: center;
}

.contactDetail {
  display: flex;
  flex-direction: column;
  gap: var(--heading-gap);
}

.contactDetail p {
  display: flex;
  align-items: center;
  gap: var(--s-gap);
}

.contactHeading {
  color: var(--font-color-black);
}

.contactLink:hover {
  color: var(--main-foreground-color);
  text-decoration: underline;

}

.contactDetail svg {
  color: var(--off-black-color);
  height: var(--body-font-size);
}

.mapImageContainer {
  grid-column: 1 / 5;
  grid-row: 4;
  aspect-ratio: 16 / 9;
  position: relative;
  width: 100%;
  height: 0; 
  padding-top: 56.25%; 
}

.mapImage {
  border-radius: var(--rounded-corners);
  box-shadow: var(--shadow-small);
  object-fit: cover;
}

@supports (aspect-ratio: 16 / 9) {
  .mapImageContainer {
    padding-top: 0;
    height: auto; 
  }
}

/* Media Query for Small Phones */
@media (max-width: 479px) {
    
    
}

/* Media Query for Large Phones */
@media (min-width: 480px) {
    
  .openingHoursTable {
    width: 50%;
  }

  .mapImageContainer {
    aspect-ratio: 16 / 4.5;
    padding-top: 28.125%; 
  }

  @supports (aspect-ratio: 16 / 4.5) {
    .mapImageContainer {
      padding-top: 0; 
      height: auto; 
    }

  }
    
}

/* Media Query for Tablets */
@media (min-width: 768px) {
  .getInTouchBox {
    grid-column: 1 / 9;
    
  }

  .mapImageContainer {
    grid-column: 1 / 9;
    
  }


  .visitUsBox {
    grid-column: 1 / 9;
    
  }

  .titleBox {
    grid-column: 2 / 8;
    
  }
    
    

    
}

/* Media Query for Large Desktops */
@media (min-width: 1280px) {
  .getInTouchBox {
    grid-column: 7 / 13;
    grid-row: 2;
    
  }

  .mapImageContainer {
    grid-column: 2 / 12;
    grid-row: 3;
  }


  .visitUsBox {
    grid-column: 1 / 7;
    grid-row: 2;
  }

  .titleBox {
    grid-column: 3 / 11;
  }

  

  
    
}

/* Media Query for Extra Large Desktops */
@media (min-width: 1440px) {
    
}

/* Media Query for Ultra-Wide Screens */
@media (min-width: 1920px) {
    
}
