/* Navbar Container */
.navbarHeader {
    padding-top: var(--m-padding);
    padding-bottom: var(--m-padding);
    background-color: var(--secondary-foreground-color);
    transition: opacity 0.3s ease, background-color 0.3s ease; /* Smooth transition */
    opacity: 1; /* Full opacity by default */
    position: sticky;
    top: 0; /* Sticks to the top of the viewport */
    z-index: 1000; /* Ensure it's above other content */
    box-shadow: var(--shadow-medium); 
}

/* Scrolling State */
.scrolling {
    opacity: 0.5; /* Reduce opacity to 80% when scrolling */
    
}

/* Logo Link */
.homepageLogoLink {
    grid-column: 1 / 3;
    grid-row: 1;
    width: 100%;
    align-self: center;
    justify-self: start;
    display: flex;
    padding: var(--s-padding);
}

/* Desktop Nav Menu */
.desktopNavMenu {
    grid-column: 3 / 13;
    grid-row: 1;
    align-self: center;
    justify-self: end;
    display: flex;
}

/* Primary Nav Links */
.primaryNavLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--xs-gap);
}

/* Navigation Links */
.navLink {
    font-size: var(--body-large-font-size);
    color: var(--font-color-primary);
    font-weight: var(--font-weight-regular);
    font-family: var(--heading-font);
    display: flex;
    align-items: center;
}

.linkWrapper {
    padding: var(--s-padding);
}

/* Dropdown */
.navDropdown {
    position: relative;
}

.dropdownIcon {
    align-self: center;
    justify-self: center;
    width: 1rem;
    margin-left: 0.5rem;
}


/* Dropdown Menu */
.dropdownMenu {
    position: absolute;
    top: 100%;
    background-color: var(--secondary-foreground-color);
    padding: var(--s-padding);
    z-index: 1000;
    width: 100%;
    border-radius: var(--rounded-corners); 
    box-shadow: var(--shadow-regular);

    
}

/* Dropdown Menu Items */
.dropdownMenuItem {
    padding: var(--s-padding);
    
}

.dropdownMenuLink {
    color: var(--font-color-primary);
    text-decoration: none;
    display: block;
    padding: var(--s-padding);
    font-size: var(--body-large-font-size);
}

.dropdownMenuLink:hover {
    background-color: var(--primary-color);
    color: var(--font-color-secondary);
}

/* Hamburger Styles */
.hamburgerButton {
    grid-column: 12 / 13;
    align-self: center;
    justify-self: end;
    z-index: 1000;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 2.5rem;
    height: 2rem;
    padding: var(--s-padding);
}

.bar {
    width: 100%;
    height: 0.25rem;
    background-color: var(--accent-color);
    transition: all 0.5s ease-in-out;
    transform-origin: center;
    border-radius: var(--rounded-corners);
}

/* Animations */ 

/* Animation when the  Hamburger Menu is open */
.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(0.625rem, 0.625rem);
}

.open .bar:nth-child(2) {
    opacity: 0;
}

.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(0.625rem, -0.625rem);
}

/* Dropdown Icon Animation */
.navDropdown.open .dropdownIcon {
    transform: rotate(180deg);
    transition: transform 0.5s ease-in-out;
}

/* slide-in animation */
@keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slideUp {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-10px);
    }
  }

  .navDropdown.open .dropdownMenu {
    animation: slideDown 0.5s forwards;
  }
  
  .navDropdown .dropdownMenu.hidden {
    animation: slideUp 0.5s forwards;
  }

  /* Mobile Menu */ 
  .mobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    background-color: var(--secondary-foreground-color); 
    transform: translateX(100%); 
    transition: transform 0.3s ease-in-out; 
    z-index: 999; 
    overflow-y: auto; 
    padding: var(--m-padding);
}


.mobileMenu.open {
    transform: translateX(0); 
}


.mobileNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--m-gap);
    
}


.mobileNavList {
    display: flex;
    flex-direction: column;
    gap: var(--s-gap);
}

/* Mobile Navigation Item */
.mobileNavItem {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--xs-gap);
    
}

/* Mobile Navigation Link */
.mobileNavLink {
    color: var(--accent-color); /* Text color */
    font-size: var(--h3-font-size); /* Text size */
    font-family: 'heading-font'; /* Text font */
    font-weight: var(--font-weight-regular);
    
}

/* Contact Button Styling */
.contactButton {

}

.contactButton:hover {
   
}

/* Mobile Sub-navigation List */
.mobileSubNavList {
    display: flex;
    flex-direction: column;
    gap: var(--xs-gap);
}

/* Mobile Sub-navigation Item */
.mobileSubNavItem {

}

/* Mobile Sub-navigation Link */
.mobileSubNavLink {
    font-size: var(--body-font-size);
    color: var(--font-color-primary);
}

.mobileSubNavLink:hover {
    text-decoration: underline;
}