/* Testimonials Section Styling */
.liCard {
    flex: 1; 
    align-self: center;
}

.visuallyHidden { 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip: rect(0, 0, 0, 0); 
    white-space: nowrap; 
    border: 0; 
}

.testimonialCard:hover,
.testimonialCard:focus-within {
    transform: translateY(-5px);
    box-shadow: var(--card-shadow-large);
}

.testimonialsCardsSection {
    background-color: var(--main-background-color);
    
}

.testmonialsCardsContainer {
    row-gap: var(--xxl-gap);
}

.testimonialsCardsTextContent {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: var(--heading-gap);
    grid-column: 1 / 5;
    grid-row: 1; 
}

.testimonialsCardsHeading {
    color: var(--font-color-black);
}

.testimonialsCardsParagraph {
    color: var(--font-color-black);
    text-align: center;
}

.testimonialsCardsHolder {
    display: flex;
    flex-direction: column;
    grid-row: 2;
    gap: var(--grid-gap);
    grid-column: 1 / 5;
}

.testimonialCard {
    padding: var(--m-gap);
    box-shadow: var(--card-shadow-regular);
    border-radius: var(--rounded-corners);
    justify-content: center;
    align-self: center;
    flex: 1;
    background-color: var(--main-background-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}


.testimonialCardContent {
    display: flex;
    flex-direction: column;
    gap: var(--s-gap);
    

}

.testimonialText {
    font-size: var(--body-font-size);
    color: var(--font-color-black);
    font-weight: var(--font-weight-regular);
    font-style: italic;
}

.main {

}

.secondary {
    height: 100%;

}

.daisyReviewChart {
    display: flex;
    flex-direction: row;
    gap: var(--xs-gap);
}

.daisyReviewImage {
    height: var(--h3-font-size);
}

.testimonialAuthor {
    font-size: var(--body-font-size);
    color: var(--font-color-black);
    font-weight: var(--font-weight-semi-bold);
}

/* Breakpoints */ 

/* Media Query for Small Phones */
@media (max-width: 479px) {
    
}

/* Media Query for Large Phones */
@media (min-width: 480px) {
    
    
    
}

/* Media Query for Tablets */
@media (min-width: 768px) {
    .testimonialsCardsHolder {
        grid-column: 1 / 9;
        
    }

    .testimonialsCardsTextContent {
        
       
        grid-column: 1 / 9;
        
    }
    

    
}

/* Media Query for Large Desktops */
@media (min-width: 1280px) {
    .testimonialsCardsTextContent {
        
       
        grid-column: 1 / 13;
        
    }

    .testimonialsCardsHolder {
        flex-direction: row;
        grid-column: 1 / 13;
        
    }

    .secondary {
        height: 90%;
    
    }

    .testimonialCard {
        padding: var(--xxl-gap);
    
    }
}

/* Media Query for Extra Large Desktops */
@media (min-width: 1440px) {
    
}

/* Media Query for Ultra-Wide Screens */
@media (min-width: 1920px) {
    
}