.aboutUsSection {
    background-color: var(--main-foreground-color);
}

.daisychainVectorFlower {
    grid-column: 2 / 4;
    object-fit: cover;
    overflow: hidden;
    justify-self: center;
    grid-row: 1; 
    width: 50%;
}

.aboutUsContent {
    display: flex;
    flex-direction: column;
    gap: var(--heading-gap);
    grid-column: 1 / 5; 
}

.aboutUsHeading {
    text-align: center;
    color: var(--font-color-primary);
}

.aboutUsParagraph {
    font-size: var(--body-font-size);
    color: var(--font-color-white); 
    text-align: center;
}

.aboutUsParagraphDesktop {
    font-size: var(--body-font-size);
    color: var(--font-color-white); 
    text-align: center;
    display: none;
}

/* Breakpoints */ 

/* Media Query for Small Phones */
@media (max-width: 479px) {
    
}

/* Media Query for Large Phones */
@media (min-width: 480px) {
    
}

/* Media Query for Tablets */
@media (min-width: 768px) {
    .daisychainVectorFlower {
        grid-column: 4 / 6;
    }
    
    .aboutUsContent {
        
        grid-column: 2 / 8; 
    }
    

    
}

/* Media Query for Large Desktops */
@media (min-width: 1280px) {
    .aboutUsParagraph {
        display: none;
    }

    .aboutUsParagraphDesktop {
        display: block;
    }
    
    .daisychainVectorFlower {
        grid-column: 6 / 8;
    }
    
    .aboutUsContent {
        
        grid-column: 3 / 11; 
    }
}
