/* ServicesSection.module.css */

.servicesSection {
    background-color: var(--main-background-color);
}

.serviceCard {
    display: flex;
    flex-direction: row;
    background-color: var(--main-foreground-color);
    border-radius: var(--rounded-corners);
    overflow: hidden;
    box-shadow: var(--shadow-medium);
    grid-column: 1 / 13;
    
    
    
}

#engagement-wedding-home {
    scroll-margin-top: 250px;
}

.serviceImage {
    object-fit: cover; /* Ensures the image covers its container without distortion */
    border-radius: var(--rounded-corners); /* Matches your design */
}

.serviceTextContent {
    display: flex;
    flex-direction: column;
    padding: var(--xl-gap);
    gap: var(--heading-gap);
    align-items: start;
    width: 50%;
    align-self: center;
}

.serviceHeading {
    color: var(--font-color-primary);
}

.serviceParagraph {
    color: var(--font-color-primary);
    font-size: var(--body-font-size);
}

.reversed {
    flex-direction: row-reverse;
}

.imageWrapper {
    position: relative;
    width: 50%;
    overflow: hidden;
    aspect-ratio: 3 / 2;
}



/* Fallback for browsers that don't support aspect-ratio */
@supports not (aspect-ratio: 3 / 2) {
    .imageWrapper {
        padding-top: 66.666%; /* 3:2 aspect ratio */
    }
}
