/* ServicesSection.module.css */

.servicesSection {
    background-color: var(--main-background-color);
}

.serviceCard {
    display: flex;
    flex-direction: column;
    background-color: var(--main-foreground-color);
    border-radius: var(--rounded-corners);
    overflow: hidden;
    box-shadow: var(--shadow-medium);
    grid-column: 1 / 5;
    
    
    
}


.serviceImage {
    object-fit: cover; 
    border-radius: var(--rounded-corners); 
}

.serviceTextContent {
    display: flex;
    flex-direction: column;
    padding: var(--m-padding);
    gap: var(--heading-gap);
    align-items: center;
    width: 100%;
    align-self: center;
}

.serviceHeading {
    color: var(--font-color-primary);
    text-align: center;
}

.serviceParagraph {
    color: var(--font-color-primary);
    font-size: var(--body-font-size);
    align-self: start;
}

.reversed {
    
}



.imageWrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 66.666%; 
}

@supports (aspect-ratio: 3 / 2) {
    .imageWrapper {
        padding-top: 0; 
        aspect-ratio: 3 / 2; 
    }
}


/* Media Query for Small Phones */
@media (max-width: 479px) {
    
    
}

/* Media Query for Large Phones */
@media (min-width: 480px) {
    
    
    
}

/* Media Query for Tablets */
@media (min-width: 768px) {
    
    .serviceCard {
        
        grid-column: 1 / 9;
        
        
        
    }

    
}

/* Media Query for Large Desktops */
@media (min-width: 1280px) {
    .serviceCard {
        
        flex-direction: row;
        
        grid-column: 1 / 13;
        
        
        
    }

    .imageWrapper {
        
        width: 50%;
        
    }

    .reversed {
        flex-direction: row-reverse;
    }

    .serviceTextContent {
        align-items: start;
        width: 50%;
        padding: var(--xl-padding);
    }
    
}

/* Media Query for Extra Large Desktops */
@media (min-width: 1440px) {
    
}

/* Media Query for Ultra-Wide Screens */
@media (min-width: 1920px) {
    
}
