/* Footer.module.css */

.footerSection {
  padding-top: var(--m-padding);
  padding-bottom: var(--m-padding);
  background-color: var(--main-foreground-color);
}

.footerDiv {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  gap: var(--heading-gap);
}

.footerSubDiv {
  display: flex;
  flex-direction: column;
  gap: var(--heading-gap);
}

/* Footer Text Content */ 

.footerMainHeading {
  font-size: var(--body-large-font-size);
  text-align: center;
  color: var(--accent-color);
}

.footerSubHeading {
  font-size: var(--body-font-size);
  color: var(--accent-color);
}

.footerBodyText {
  font-size: var(--body-small-font-size);
  color: var(--accent-color);
  
}

/* Column 1 */
.logoDiv {
  justify-self: center;
  align-self: center;
}

.daisychainFooterLogo {
  width: 50%;
  height: auto;
  align-self: center;
  justify-self: center;
}

.daisychainDescriptionParagraph {
  font-size: var(--body-small-font-size);
  color: var(--accent-color);
  text-align: center;
  align-self: center;
}

/* Column 2 */

.openingHoursTable {
  width: 100%;
  border-collapse: collapse;
}

.openingHoursTable th,
.openingHoursTable td {
  font-family: var(--body-font);
  font-weight: var(--font-weight-regular);
  padding: var(--xs-gap);
  padding-left: 0;
  text-align: start;
  color: var(--accent-color);
  font-size: var(--body-small-font-size);
}

.openingHoursTable th {
  font-weight: var(--font-weight-medium);
  width: 50%;
  color: var(--accent-color);
}

.openingHours {
  display: flex;
  flex-direction: column;
  gap: var(--heading-gap);
  
}

.shopAddress {
  display: flex;
  flex-direction: column;
  gap: var(--heading-gap);
}

.address {
  display: flex;
  flex-direction: column;
  gap: var(--xs-gap);
  font-style: normal;
}

.address p {
  font-size: var(--body-small-font-size);
  color: var(--accent-color);
}

/* Column 3 */

.contactDetail {
  display: flex;
  flex-direction: column;
  gap: var(--heading-gap);
}

.contactDetail p {
  display: flex;
  align-items: center;
  gap: var(--s-gap);
}

.contactLink {
  color: var(--accent-color);
  font-size: var(--body-small-font-size);
}

.contactLink:hover {
  text-decoration: underline;
}

.socialLink {
  display: flex;
  align-items: center;
  gap: var(--s-gap);
  color: var(--accent-color);
  font-size: var(--body-small-font-size);
  

}

.socialLink:hover {
  text-decoration: underline;
}

.socialMediaList {
  display: flex;
  flex-direction: column;
  gap: var(--xs-gap);
}

/* Column 4 */

.pagesList {
  display: flex;
  flex-direction: column;
  gap: var(--xs-gap);
}  

.pageLink {
  font-size: var(--body-small-font-size);
  color: var(--accent-color);
}

.pageLink:hover {
  text-decoration: underline;
}

.listDiv {
  display: flex;
  flex-direction: column;
  gap: var(--heading-gap);
}
/* Media Query for Large Desktops */
@media (min-width: 1280px) {
  

  .footerDiv {
    grid-column: span 3;
  }

  

  
    
}



